
@media screen and (min-width: 370px) and (max-width: 414px){
  html{
    width: 96%;
  }

  body {
    height: 100vh;
    margin: 0;
    width: 103.5%;
  }

  header{
    margin: 8px 8px 10px 8px;
    border-radius: 8px;
    height: 59px;
    width: auto;
    padding-top: 14px;
  }
  
  .headerbar{
    height: 36px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .headerLogo{
    display: flex;
    margin: 0;
    padding: 0;
  }

  .headerLogo img{
    font-size: 18px;
    margin-right: 3px;
  }

  .headerbar a{
    font-size: 18px;
    text-decoration: none;
    color: var(--white);
  }

  .bodyWrapper{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .rightContainer{
    width: auto;
    height: 100%;
    margin-left: 0;
    margin-top: 10px;
  }

  .leftContainer{
    width: auto;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}

/* Opera */
@media screen and (min-width: 1409px){
  .favBody{
    height: 38.9vh; 
  }

  .tableview {
    height: 74.8vh;
  }
}

/* Edge */
@media screen and (min-width: 1415px){
  .favBody{
    height: 43.1vh; 
  }

  .tableview {
    height: 76.8vh;
  }
}

/* Brave & Chrome */
@media screen and (min-width: 1422px){
  .favBody{
    height: 41.5vh; 
  }

  .tableview {
    height: 76vh;
  }
}