<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/static/favicon/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginmedia.css')}}">
    <title>Log In</title>
  </head>
  <body>
  
  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('/static/images/bg0.png')"></div>
    <div class="contents order-2 order-md-1">
          <div class="col-md-7">
            <h3>Login to <strong>FInvesté</strong></h3>
            <p class="mb-4">Unlock Your Investment Potential with Our Advanced Stock Screener.</p>
            <form action="/signin" method="post">
              <div class="form-group first">
                <label for="username">Username</label>
                <input type="text" class="form-control" placeholder="your-email@gmail.com" name="username" id="username" required>
              </div>
              <div class="form-group last mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="your password" name="password" id="password" required>
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked" name="remember_me"/>
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span> 
              </div>
              {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert alert-warning">
                  <span><i class="bi bi-info-circle-fill"></i>&nbsp;{{ messages[0] }}</span>
                </div>
              {% endif %}
            {% endwith %}
              <input type="submit" value="Log In" class="btn btn-block btn-primary">

              <div class="d-flex align-items-center" id="switch">
                <span class="caption">Don't have an account?</span>
                <span class="ml-auto"><a href="{{ url_for('signup')}}" class="switch-pass">Sign up here</a></span>
              </div>

            </form>
          </div>
        
      
    </div>
  </div>
  </body>
</html>